<a id="forkme_banner" href="https://github.com/jgsmith/perl-Dallycot">View on GitHub</a>

<h1 id="project_title"><a href="/">Dallycot</a></h1>
<h2 id="project_tagline">A linked open code engine</h2>

<section id="navigation">
  <ul>
    <li><a href="/guide/">Guide</a></li>
    <li><a href="/ns/">Namespaces</a></li>
  </ul>
</section>

<section id="downloads">
  <a class="zip_download_link" href="https://github.com/jgsmith/perl-Dallycot/zipball/master">Download this project as a .zip file</a>
  <a class="tar_download_link" href="https://github.com/jgsmith/perl-Dallycot/tarball/master">Download this project as a tar.gz file</a>
</section>
